body {
  background-color: #e9ecef;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding: 75px 0;
  margin: 0 auto;
  max-width: 1280px;
}

.work {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.users {
  cursor: pointer;
  width: 30%;
  &__active {
    &:hover {
      background-color: gray;
      color: whitesmoke;
    }
  }
}

.lists {
  width: 60%;
}

nav {
  display: flex;
  justify-content: flex-start;
  & a {
    text-decoration: none;
    margin-right: 20px;
  }
}

.active-user {
  font-weight: bold;
  margin-bottom: 20px;
}
